* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Spline Sans", sans-serif;
}

:root{
    --folder-radius:20px;
    --brown: #240000;
    --orange: #FD7608;
    --dark-green:#002C21;
    --lime-green: #95FF00;
}

body {
    background-color: #002C21;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    background: rgba(242, 242, 255, 0.412);
    background: linear-gradient(194deg,rgba(242, 242, 255, 0.4) 0%, rgba(242, 252, 255, .0) 100%);
    backdrop-filter: blur(10px) contrast(1.5) brightness(0.8) url(#displacementFilter);
    
    box-shadow: 0px 10px 40px -5px rgba(255,255,255,0.5) inset, 10px 10px 10px -6px rgba(255,255,255,0.75) inset, 1px -9px 15px 8px rgba(0,0,0,0.1) inset, -9px -10px 9px -8px rgba(0,0,0,0.4) inset;
    
}

.glass-smaller {
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5) url(#displacementFilterCircular);
    
    box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;
    
}


.emoji {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;

}

.emoji:hover{
    transform: scale(1.2);
}

/* .emoji.glass {
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5) url(#displacementFilterCircular);
} */


.button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: #36602D;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    position: relative;
    box-shadow: none;
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5) url(#displacementFilterCircular);

    
    
}

.button:hover{
    background: rgba(149, 255, 0, 0.5); 
    transform: scale(1.2);
    box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;

}

.buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.menu{
    height: 5vh;
    width: fit-content;
    padding-top: 30px;
    margin-bottom: -10vh;
    padding: 30px;
    box-shadow: none;
    position: sticky;
    top: 30px;
    left: 30px;
    z-index: 2;
    place-items: center;
    border-radius: 100px;
    transition: all 0.5s;
}

.menu:hover{
    box-shadow: 0px 10px 20px -7px rgba(255, 255, 255, 0.5) inset, 10px 10px 1px -13px rgba(255, 255, 255, 0.5) inset, 1px -9px 10px -5px rgba(0, 0, 0, 0.1) inset, -9px -10px 4px -11px rgba(0, 0, 0, 0.4) inset;
}

.menu > img {
    height: 20px;
}


@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
  .glass {
    backdrop-filter: blur(10px) contrast(1.5) brightness(0.9);
  }

  .glass-smaller{
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5);
  }

  .emoji.glass {
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5) ;
  }

  .button{
    backdrop-filter: blur(2px) contrast(1.5) brightness(0.8) saturate(5);
  }
}

.glass2 {
    background: #f2f2ff;
    background: linear-gradient(194deg,rgba(242, 242, 255, 0.6) 0%, rgba(242, 252, 255, 0.1) 100%);
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 40px -5px rgba(255,255,255,0.5) inset, 10px 10px 10px -6px rgba(255,255,255,0.75) inset;
}
/* TYPE */

a {
    text-decoration: none;
    color: inherit;
}

.label{
    font-family: "Spline Sans";
    font-size: 14pt;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.polaroid > .label {
    font-size: 10pt;
    opacity: 50%;
    letter-spacing: 1px;
}

.project-title{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.10);
    font-family: "Spline Sans";
    font-size: 40pt;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 128px */
    letter-spacing: -2px;
}

.polaroid > .project-title {
    font-size: 20pt;
    letter-spacing: 0;
    text-shadow: none;
}

p {
    font-size: 14pt;
    font-weight: 500;
}

li{
    font-size: 14pt;
    font-weight: 500;
}

.body-black{
    font-size: 14pt;
    font-weight: 1000;
}

h1{
    font-family: "Spline Sans";
    font-size: 30pt;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -1px ;
}

h2 {
    font-family: "Spline Sans";
    font-size: 20pt;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}  

h3 {
    font-family: "Spline Sans";
    font-size: 20pt;
    font-style: normal;
    width: fit-content;
    font-weight: 600;
    line-height: normal;
    padding: 5px 15px;
    border-radius: 30px 5px;
    background-color: rgba(255, 255, 255, 0.25);
} 

.highlight {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px) brightness(0.5);
    border-left: 10px solid rgba(255, 255, 255, 0.8);
    font-weight: 1000;
    font-size: 16pt;
/*     box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;
 */
    width: fit-content;
    border-radius: 10px;
}

.highlight > ol > li, .highlight > p {
    font-size: 16pt;
}

.landing-text{
    font-size: 14pt;
    color: var(--lime-green);
    font-weight: 1000;
}

.landing-script{
    font-size: 40pt;
    font-family: "Yesteryear", cursive;
}


.folder{
    width: 300px;
    height: auto;
    aspect-ratio: 4 / 3;
    background: #07304f;
    background: linear-gradient(0deg, rgba(7, 48, 79, 1) 0%, rgba(69, 100, 252, 1) 100%);
    position: relative;
    border-radius: 0px 20px 20px;
    box-sizing: content-box;

}



.folder::before{
    content: "";
    width: 200px;
    height: 10%;
    bottom: 100%;
    border-radius: var(--folder-radius) var(--folder-radius) 0px 0px;
    background-color: rgba(69, 100, 252, 1);
    position: absolute;
    box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;

}

.folder::after{
    content: "";

    width: 100%;
    height: 90%;
    border-radius: var(--folder-radius);
    background: #4564fc;
background: linear-gradient(0deg, rgba(69, 100, 252, 1) 0%, rgba(69, 191, 252, 1) 100%);
    position: absolute;
    bottom: 0;
    box-shadow: -1px 26px 39px -11px rgba(255,255,255,0.0) inset;
    transform-origin: bottom center;     /* keep SW+SE fixed */
    transition: transform .28s ease, box-shadow .28s ease;
    will-change: transform;
    box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset;

    box-sizing: content-box;
}

.label.folder-title{
    font-size: 10pt;
    opacity: 50%;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
}



.folder:hover::after{
  transform: skewX(-10deg);/* 
  box-shadow: 0 18px 40px rgba(0,0,0,.18); */
  box-shadow: 0px 10px 20px -7px rgba(255,255,255,0.5) inset, 10px 10px 1px -13px rgba(255,255,255,0.5) inset, 1px -9px 10px -5px rgba(0,0,0,0.1) inset, -9px -10px 4px -11px rgba(0,0,0,0.4) inset, -1px 26px 39px -11px rgba(255,255,255,0.54) inset;
}

@media (min-width: 750px) {
  

  .body-black{
    font-size: 18pt;
  }

  .label {
    font-size: 18pt;
  }

  .landing-script{
    font-size: 50pt;
  }

  .project-title{
    font-size: 70pt;
    letter-spacing: -4px;
  }

  p, li{
    font-size: 18pt;
  }
  
  .highlight > ol > li, .highlight > p {
    font-size: 20pt;
  }
  
  .highlight {
    font-size: 20pt;
  }

  

  h1{
    font-size: 37pt;
  }

  h2{
    font-size: 25pt;
  }

  h3{
    font-size: 25pt;
  }
}



.footer{
    background-color: #002C21;
    box-sizing: content-box;
    color: var(--lime-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    padding: 100px 0px;
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer > .landing-script {
    transform: rotate(-3deg);
    width: 100%;
    text-align: center;
}


.staticBG{
    background: #833AB4;
background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 23%, rgba(252, 176, 69, 1) 40%, rgba(69, 100, 252, 1) 62%, rgba(69, 191, 252, 1) 82%, rgba(69, 252, 99, 1) 100%);
    background-image: url(images/glass.gif);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: 0;
    margin-bottom: -100vh;
    z-index: -1;
}